<footer
  [ngClass]="{
  'footer-bottom': isFooterBottom,
}"
  class="d-flex align-items-center justify-content-center mt-5"
>
  <p class="p-3 text-light">Desenvolvido por Rodrigo Silva</p>
  <div>
    <a class="text-light" href="https://github.com/RodrigoS2050" target="_blank"
      ><i class="bi bi-github"></i
    ></a>
    <a
      class="text-light ms-2"
      href="https://www.linkedin.com/in/rodrigo-silva-86044a224/"
      target="_blank"
      ><i class="bi bi-linkedin"></i
    ></a>
  </div>
</footer>
