<section class="container py-4">
  <div class="row">
    <div class="col-lg-6 mb-4 mb-lg-0">
      <h2 class="px-3 px-lg-0 pb-3">Buscante: Descubra e Explore Livros</h2>
      <p class="px-3 px-lg-0">
        Buscante é uma aplicação inovadora projetada para os amantes da leitura
        que desejam explorar o vasto mundo da literatura de maneira fácil e
        envolvente. Com a integração perfeita da
        <strong>Google Books API</strong>, a Buscante oferece recursos
        abrangentes para ajudar os usuários a descobrir novos livros, aprender
        sobre seus autores favoritos e expandir seus horizontes literários. Com
        uma interface intuitiva e recursos inteligentes, a Buscante é o seu
        companheiro ideal para explorar novas descobertas literárias.
      </p>
    </div>
    <div class="col-lg-6">
      <img
        class="img-fluid px-3 py-5 px-lg-0"
        src="assets/book-illustration.svg"
        alt="Ilustração de um livro grande ao lado de uma pessoa"
      />
    </div>
  </div>
</section>
